

<!--  Appointment Section Start  -->
<br>
<section class="appointment-section section-gap">
    <div class="container container-1500">
        <div class="appointment-form-two style-two">
            <div class="appointment-image" style="background-image: url(images/medicinemain.jpg);">
            </div>
            <div class="form-wrap">
                <div class="section-heading mb-50">
                    <span class="tagline">Medication</span>
                    <h2 class="title">Add Medciation Dosage </h2>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-field">
                                <input type="text" placeholder="Enter Medicine Name"  >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <input type="text" placeholder="Enter Age" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <select>
                                    <option value="1" selected disabled>Dosage</option>
                                    <option value="2">Once</option>
                                    <option value="3">Twice</option>
                                    <option value="4">Thirce</option>
                                  
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6"class="input-field"  >
                        <div class="row" style="margin-left: 10px;">
                        
                         <div class="col-md-6">
                            <input type="radio" name="gender" value="male" style="width: 20px;"> Male
                         </div>
                                <div class="col-md-6">
                                    <input type="radio" name="gender" value="female" style="width: 20px;"> Female
                                </div>
                            </div>
                            </div>
                       
                            <div class="col-md-6"class="input-field"  >
                                <div class="row" style="margin-left: 10px;">
                                
                                 <div class="col-md-6">
                                    <input type="radio" name="type" value="Tablet" style="width: 20px;"> Tablet
                                 </div>
                                        <div class="col-md-6">
                                            <input type="radio" name="type" value="Liquid" style="width: 20px;"> Liquid
                                        </div>
                                    </div>
                                    </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <button type="submit" class="template-btn">
                                    ADD<i class="far fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--  Appointment Section End  -->

<!--  Skill Section Start  -->
<section class="skill-section section-gap border-top-primary">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-between align-items-center">
            <div class="col-lg-6 col-md-10">
                <div class="tile-gallery-two pr-lg-3">
                    <div class="image-one">
                        <img src="../assets/img/gallery/08.jpg" alt="Image">
                    </div>
                    <div class="image-two text-right wow fadeInUp" data-wow-delay="0.3s">
                        <img src="../assets/img/gallery/03.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-9">
                <div class="skill-content pl-xl-5 mt-md-50">
                    <div class="section-heading mb-20">
                        <span class="tagline">RECENT ADVANCES IN CHEST MEDICINE</span>
                        <h2 class="title">
                            Medication and Dosage Considerations in the Prophylaxis
                        </h2>
                    </div>
                    <p>
                        With increasing numbers of people traveling to high altitude for work or pleasure, there is a reasonable chance that many of these travelers have preexisting medical conditions or are receiving various medications at the time of their sojourn.
                    </p>
                    <div class="skills-items mt-50 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="progress-bar-wrapper mb-40" data-percentage="89" data-line-color="#499afa" data-line-bg="#e4f0fe">
                            <div class="progress-title-wrap">
                                <h5 class="progress-title">Medical Care</h5>
                                <span class="progress-percentage">89%</span>
                            </div>
                            <div class="progress-line-wrap">
                                <div class="progress-line"></div>
                            </div>
                        </div>
                        <div class="progress-bar-wrapper mb-40" data-percentage="64" data-line-color="#ffae00" data-line-bg="#fff3d9">
                            <div class="progress-title-wrap">
                                <h5 class="progress-title">Family Care</h5>
                                <span class="progress-percentage">64%</span>
                            </div>
                            <div class="progress-line-wrap">
                                <div class="progress-line"></div>
                            </div>
                        </div>
                        <div class="progress-bar-wrapper mb-40" data-percentage="78" data-line-color="#b505ff" data-line-bg="#f4daff">
                            <div class="progress-title-wrap">
                                <h5 class="progress-title">Child Care</h5>
                                <span class="progress-percentage">78%</span>
                            </div>
                            <div class="progress-line-wrap">
                                <div class="progress-line"></div>
                            </div>
                        </div>
                        <div class="progress-bar-wrapper mb-40" data-percentage="85" data-line-color="#ff3000" data-line-bg="#ffe0d9">
                            <div class="progress-title-wrap">
                                <h5 class="progress-title">Senior Care</h5>
                                <span class="progress-percentage">85%</span>
                            </div>
                            <div class="progress-line-wrap">
                                <div class="progress-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Skill Section End  -->

<!--  Back to Top Start  -->
<a class="back-to-top" href="#">
    <i class="far fa-angle-up"></i>
 </a>
<!--  Back to Top End  -->