
<!--====== Appointment Section Start ======-->
<br>
<section class="appointment-section section-gap">
    <div class="container container-1500">
        <div class="appointment-form-two style-two">
            <div class="appointment-image" style="background-image: url(images/exercise_man.jpg);">
            </div>
            <div class="form-wrap">
                <div class="section-heading mb-50">
                    <span class="tagline">Health Vitals</span>
                    <h2 class="title">Add Your Personal Health Vitals </h2>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-field">
                                <input type="text" placeholder="Enter Weight"  >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <input type="text" placeholder="Enter Glucose Level" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <input type="text" placeholder="Enter Blood Pressure" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <input type="text" placeholder="Enter Temperature" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <input type="text" placeholder="Enter Pulse Rate" >
                            </div>
                        </div>
                       

                        <div class="col-md-6">
                            <div class="input-field">
                                <button type="submit" class="template-btn">
                                    ADD<i class="far fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--====== Appointment Section End ======-->
<section class="help-section section-gap">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-end align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="help-text-wrapper">
                    <div class="section-heading mb-20">
                        <span class="tagline">Blog Post</span>
                        <h2 class="title">Oral Health Precautions & Treatments</h2>
                    </div>
                    <p>
                        Many things we mindlessly do day in and out play a large role in our dental health. We may smoke or consume sugary foods and drinks throughout the day. These habits have different consequences throughout the whole body, but we will focus on how they affect the dentition here.
                    </p>
                    <ul class="check-list mt-35 pr-xl-4">
                        <li>
                            Eat a healthy diet.
                        </li>
                        <li>
                            Consume less salt and sugar.
                        </li>
                        <li>
                            Reduce intake of harmful fats.
                        </li>
                        <li>
                            Check your blood pressure regularly.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="help-img text-center text-lg-right mt-md-50">
                    <img src="assets/img/section-img/help-section-img.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Skill Section End ======-->

<!--====== Back to Top Start ======-->
<a class="back-to-top" href="#">
    <i class="far fa-angle-up"></i>
 </a>
<!--====== Back to Top End ======-->