 <!--====== Contact Info Section Start ======-->
<section class="section-gap contact-top-wrappper mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-12">
                <div class="contact-info-wrapper">
                    <div class="single-contact-info">
                        <div class="single-contact-info">
                            <h3 class="info-title">
                                <i class="fal fa-map-marker-alt"></i> Address
                            </h3>
                            <p>
                                7895 Piermont Dr NE Albuquerque, <br>
                                NM 198866, See Our Stores
                            </p>
                        </div>
                        <div class="single-contact-info">
                            <h3 class="info-title">
                                <i class="fal fa-coffee"></i> Get In Touch
                            </h3>
                            <ul>
                                <li>
                                    <span>Phone Number</span><a href="tel:+012020200">+012 (345) 6789</a>
                                </li>
                                <li>
                                    <span>Email Address</span><a
                                        href="https://demo.webtend.net/cdn-cgi/l/email-protection#394a4c4949564b4d795e54585055175a5654"><span
                                            class="__cf_email__"
                                            data-cfemail="473432373728353307202a262e2b6924282a">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <span>Hotline</span><a href="tel:+12345678">12345678</a>
                                </li>
                            </ul>
                        </div>
                        <div class="single-contact-info">
                            <h3 class="info-title">
                                <i class="fal fa-comments"></i> Follow Us
                            </h3>
                            <p>
                                Sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore
                            </p>
                            <p class="social-icon">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter-square"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-youtube-square"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--====== Contact Info Section End ======-->

<!--====== Contact Form Start ======-->
<section class="contact-form-area">
    <div class="contact-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d107201.226767341!2d-74.05027451789393!3d40.71534534062428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1634195102348!5m2!1sen!2sbd"
            loading="lazy"></iframe>
    </div>

</section>
<!--====== Contact Form End ======-->

<!--====== Back to Top Start ======-->
<a class="back-to-top" href="#">
    <i class="far fa-angle-up"></i>
</a>
<!--====== Back to Top End ======-->