<div class="col-lg-4 col-md-9 col-sm-11">
    <div class="faq-content pl-xl-5"><br>
        <h3>What people Frequently Ask... </h3>
         <div class="accordion accordion-style-two mt-30 p-2" style="border: 2px solid black;" id="accordionFaq">
            
            <div class="accordion-item">
                <div class="accordion-header">
                    <h6 data-toggle="collapse" aria-expanded="true" data-target="#itemOne">
                        <span>Advanced Equipment and Best Dentists</span>
                    </h6>
                </div>
                <div class="collapse" id="itemOne" data-parent="#accordionFaq">
                    <div class="accordion-content">
                        <p>
                            Orem psum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore ets dolore magna aliqua uispsum suspendisse
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item active-accordion">
                <div class="accordion-header">
                    <h6 data-toggle="collapse" aria-expanded="true" data-target="#itemTwo">
                        <span>Our 10 Years Working Experience</span>
                    </h6>
                </div>
                <div class="collapse show" id="itemTwo" data-parent="#accordionFaq">
                    <div class="accordion-content">
                        <p>
                            Orem psum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore ets dolore magna aliqua uispsum suspendisse
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    <h6 data-toggle="collapse" aria-expanded="true" data-target="#itemThree">
                        <span>Advanced Equipment and Best Dentists</span>
                    </h6>
                </div>
                <div class="collapse" id="itemThree" data-parent="#accordionFaq">
                    <div class="accordion-content">
                        <p>
                            Orem psum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore ets dolore magna aliqua uispsum suspendisse
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>