<div class="section-gap">
    <div class="container mt-3" style="border:2px solid black ;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading mb-60 text-center">
                    <span class="tagline mt-5">We're Ready To Help You</span>
                    <h2 class="title">Leave a Message</h2>
                </div>
                <form action="#" class="contact-form" style="border:black;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-field">
                                <label for="name">Your Full Name</label>
                                <input type="text" placeholder="Sarah Michael" id="name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <label for="email">Email Address</label>
                                <input type="email" placeholder="email@gmail.com" id="email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <label for="number">Phone Number</label>
                                <input type="text" placeholder="+012 (345) 678 99" id="number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-field">
                                <label for="website">Website</label>
                                <input type="url" placeholder="www.health+.com(optional)" id="website">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-field">
                                <label for="message">Opinion please?</label>
                                <textarea id="message" placeholder="Write Message...."></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center">
                                <button class="techwiz-btn btn-outline-primary p-2 mb-2">Message Here <i
                                        class="far fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
<!--  Contact Form End  -->
<div class="doctors-with-testimonial">
    

    <!--====== Testimonial Section Start ======-->
    <section class="testimonial-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-heading text-center mb-40">
                        <span class="tagline">Our Testimonial</span>
                        <h2 class="title">What our Patients Say About Our Medical</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-xl-8 col-lg-9">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-sm-10">
                            <div class="testimonial-box mt-30 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="author-info-wrapper">
                                    <div class="avatar">
                                        <img src="assets\img\blog\testimonial-1.webp" alt="Images">
                                    </div>
                                    <div class="author-info">
                                        <h5 class="name">Talha Fahad</h5>
                                        <span class="title">Entrepreneur</span>
                                        <ul class="rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="content">
                                   It's been about a month since i started using Health+ and I'm confident that I'm keeping my health in check.
                                </p>
                                <span class="quote-icon">
                                    <img src="assets/img/icon/right-quote.png" alt="Quote">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-10">
                            <div class="testimonial-box mt-30 wow fadeInUp" data-wow-delay="0.4s">
                                <div class="author-info-wrapper">
                                    <div class="avatar">
                                        <img src="assets\img\blog\pexels-mentatdgt-937481.jpg" alt="Images">
                                    </div>
                                    <div class="author-info">
                                        <h5 class="name">Raza Sheikh</h5>
                                        <span class="title">Video Editor</span>
                                        <ul class="rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="content">
                                    With my work,it's really hard for me to visit a doctor for regular checkups,Now I'm really satisfied.
                                </p>
                                <span class="quote-icon">
                                    <img src="assets/img/icon/right-quote.png" alt="Quote">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-10">
                            <div class="testimonial-box mt-30 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="author-info-wrapper">
                                    <div class="avatar">
                                        <img src="assets\img\blog\pexels-andrea-piacquadio-3756681.jpg" alt="Images">
                                    </div>
                                    <div class="author-info">
                                        <h5 class="name">Nimra Hasan</h5>
                                        <span class="title">Web Designer</span>
                                        <ul class="rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="content">
                                    I thought maintaining health would've been a hard job,but Health plus made it really easy.                                </p>
                                <span class="quote-icon">
                                    <img src="assets/img/icon/right-quote.png" alt="Quote">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-10">
                            <div class="testimonial-box mt-30 wow fadeInUp" data-wow-delay="0.6s">
                                <div class="author-info-wrapper">
                                    <div class="avatar">
                                        <img src="assets/img/testimonial/05.png" alt="Images">
                                    </div>
                                    <div class="author-info">
                                        <h5 class="name">Shehryar Munawwar</h5>
                                        <span class="title">Teacher</span>
                                        <ul class="rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="content">
                                    It's been helpful for me to maintain both mine and my children's health information. 
                                </p>
                                <span class="quote-icon">
                                    <img  alt="Quote">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Testimonial Section End ======-->

    <div class="section-image">
        <img src="assets\img\doctors/img-6.webp" alt="Image">
    </div>
</div>

<!--  Back to Top Start  -->
<a class="back-to-top" href="#">
    <i class="far fa-angle-up"></i>
</a>
<!--  Back to Top End  -->