<br><br><br><br>
    <div class="container mt-5">
        <div class="row">
           
            <div class="col-lg-6 col-sm-12 g-3">
                <iframe width="693" height="390"
                src="https://www.youtube.com/embed/Cg_GW7yhq20" title="Healthy Lifestyle" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 col-sm-12 g-3" style="margin: auto;background-color: #1599E5;opacity: 0.8;border-radius: 10px;padding: 25px;">
                <h2 class="text-warning" >HEALTHY LIFESTYLE</h2>
               <p class="text-warning">Being active, enjoying the outdoors and eating a balanced diet,all affects how we feel. Watch our healthy living video for tips on living a healthy life.</p>
            </div>
        </div>
            <hr>
        <div class="row">
            <div class="col-lg-6 col-sm-12 g-3">
                <iframe width="693" height="390" src="https://www.youtube.com/embed/3WsRzlutBQk" title="Video 1 -  Your Health Information, Your Rights" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
            <div class="col-lg-6 col-sm-12 g-3" style="margin: auto; background-color: #1599E5;opacity: 0.8;border-radius: 10px;padding: 25px;">
                <h2 class="text-warning">Why You Should Keep Your Health Maintained</h2>
                    <p class="text-warning">A few reasons to help you understand the importance of a healthy lifestyle.</p>
                 </div>
                
        </div>
            <hr>
        <div class="row">
            <div class="col-lg-6 col-sm-12 g-3">
                <iframe width="693" height="390" src="https://www.youtube.com/embed/wZAjVQWbMlE" title="What Is Diabetes? | 2 Minute Guide | Diabetes UK" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 g-3" style="margin: auto;background-color: #1599E5;opacity: 0.8;border-radius: 10px;padding: 25px;">
                <h2 class="text-warning">Diabetes In 2-Minutes</h2>
               <p class="text-warning">3.8 million people have been diagnosed with diabetes in the UK, but a lot of people still don't know what diabetes is.</p>
            </div>
        </div>
            <hr>
            <div class="row">
                <div class="col-lg-6 col-sm-12 g-3">
                    <iframe width="693" height="390" src="https://www.youtube.com/embed/zJgHbifIx-Q" title="Fit Facts | Food and Nutrition" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 g-3" style="margin: auto;background-color: #1599E5;opacity: 0.8;border-radius: 10px; padding: 25px;">
                    <h2 class="text-warning">Food and Nutrition</h2>
                   <p class="text-warning">Believe it or not, snacks can be part of a healthy diet. Smart Snacking helps you avoid over-eating later in the day.</p>
                </div>
            </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 g-3">
                        <iframe width="693" height="390" src="https://www.youtube.com/embed/Ge9WGTp5y3o" title="Oral and general health animation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-6 g-3" style="margin: auto;background-color: #1599E5;opacity: 0.8;border-radius: 10px; padding: 25px;">
                        <h2 class="text-warning">Oral and general health</h2>
                       <p class="text-warning"> Know the links between oral health and general health. </p>
                    </div>
                </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 g-3">
                            <iframe width="693" height="390" src="https://www.youtube.com/embed/fWken5DsJcw" title="What is Trauma-Informed Care?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-6 g-3" style="margin: auto;background-color: #1599E5;opacity: 0.8;border-radius: 10px; padding: 25px;">
                            <h2 class="text-warning">Trauma</h2>
                           <p class="text-warning"> Exposure to trauma, including abuse, neglect, and violence can lead to severe effects for several yeras of life</p>
                        </div>
                    </div>
                        <hr>
    </div>
  