<body>

    <!--  techwiz-sectiona Start  -->
    <section class="techwiz-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <div class="hero-content">
                        <h1 class="title wow fadeInDown" data-wow-delay="0.3s">You’ll Love the Way We Care for You!!!
                        </h1>
                        <p class="wow fadeInLeft" data-wow-delay="0.4s">Making and managing your medical appointments all in one place</p>
                        <a href="contact.html" class="template-btn wow fadeInUp" data-wow-delay="0.5s">Make an
                            Appointment <i class="far fa-calender"></i></a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img wow fadeInUp" data-wow-delay="0.3s">
                        <img src="assets/img/doctors/img-9.jpeg" style=" height:550px;" alt="Hero">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  techwiz-sectiona End  -->
    

  <!--  Features Section Start  -->
  <section class="feature-section pharmacy-feature mt-2">
    <div class="container wow fadeInUp" data-wow-delay="0.3s">
        <div class="row no-gutters justify-content-center feature-loop">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="iconic-box-three">
                    <div class="icon">
                        <i class="flaticon-medicine"></i>
                    </div>
                    <h4 class="title">Medicine Care</h4>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu
                    </p>
                    <a href="#" class="box-link">Read More <i class="far fa-plus"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="iconic-box-three featured-box">
                    <div class="icon">
                        <i class="flaticon-stethoscope"></i>
                    </div>
                    <h4 class="title">Doctors Services</h4>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu
                    </p>
                    <a href="#" class="box-link">Read More <i class="far fa-plus"></i></a>

                    <span class="big-icon"><i class="flaticon-stethoscope"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="iconic-box-three">
                    <div class="icon">
                        <i class="flaticon-flask"></i>
                    </div>
                    <h4 class="title">Medical Equipment</h4>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu
                    </p>
                    <a href="#" class="box-link">Read More <i class="far fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Features Section End  -->

 <!--====== Call to action Start ======-->
 <section class="cta-section cta-boxed-three pt-5">
    <div class="container">
        <div class="cta-inner">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 order-lg-last">
                    <div class="cta-img text-center text-lg-right wow fadeInUp" data-wow-delay="0.3s">
                        <img class="animate-float-bob-y" src="assets/img/cta-img/illustration.png" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="cta-content">
                        <div class="section-heading heading-white">
                            <span class="tagline">Get Our Doctors Consultations</span>
                            <h2 class="title">Find Your Best Doctors With Our Medical</h2>
                        </div>
                        <a href="#" class="template-btn mt-30">Add Your Dosage schedule<i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Call to action End ======-->

    <!--  About Section Start  -->   
    <section class="about-section section-gap-top">
        <div class="container">
            <div class="row align-items-end justify-content-center">
                <div class="col-xl-5 col-lg-8 col-sm-10">
                    <div class="about-content about-content-gap">
                        <div class="section-heading mb-35">                           
                            <span class="tagline"> What is Health Plus?</span>
                            <h2 class="title">Your Health Care At One Place</h2>
                        </div>
                        <p>
                            Health is one of the most important factor in today's era and should be our first
                            priority.With the increase in sickness and large numbers of urban population, it becomes
                            difficult to book appointments or visit a doctor. We provide our visitors a platform which
                            will allow them to
                            view appointment details, information regarding their personal health vitals such
                            as BP, Glucose, and so on, view medicine dosage details, and more.....
                        </p>
                        <a href="About.html" class="template-btn mt-40 wow fadeInUp"
                            data-wow-delay="0.3s">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-8 col-md-8 order-xl-first">
                    <div class="bordered-icon-wrapper hide-icon-md">
                        <img src="assets/img/section-img/about-img-2.png" alt="AboutImg">

                        <div class="border-icon">
                            <img src="assets/img/icon/shield.png" alt="Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  About Section End  -->


    <!--====== Counter Section Start ======-->
    <section class="counter-section pt-5">
        <div class="container">
            <div class="counter-inner-three bg-color-secondary">
                <div class="row justify-content-between">
                    <div class="col-lg-auto col-md-5 col-sm-6">
                        <div class="counter-item counter-white">
                            <div class="counter-wrap">
                                <span class="counter">359</span>
                                <span class="suffix">+</span>
                            </div>
                            <h6 class="title">Professional Doctors</h6>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-5 col-sm-6">
                        <div class="counter-item counter-white">
                            <div class="counter-wrap">
                                <span class="counter">85</span>
                                <span class="suffix">k+</span>
                            </div>
                            <h6 class="title">Saticfied Our Clients</h6>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-5 col-sm-6">
                        <div class="counter-item counter-white">
                            <div class="counter-wrap">
                                <span class="counter">863</span>
                                <span class="suffix">+</span>
                            </div>
                            <h6 class="title">Win International Awards</h6>
                        </div>
                    </div>
                    <div class="col-lg-auto col-md-5 col-sm-6">
                        <div class="counter-item counter-white">
                            <div class="counter-wrap">
                                <span class="counter">86</span>
                                <span class="suffix">k+</span>
                            </div>
                            <h6 class="title">4.9 Star Reviews</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Counter Section End ======-->

 


    <!--  Appointment Section Start  -->
    <section class="appointment-section section-gap-bottom p-md-5">
        <div class="container">
            <div class="appointment-form-two">
                <div class="form-wrap">
                    <div class="section-heading mb-40">
                        <span class="tagline">Make an Appointment</span>
                        <h2 class="title">Make an Appointment to Doctor Visit</h2>
                    </div>
                    <form action="#">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-field wow fadeInLeft" data-wow-delay="0.3s">
                                    <input type="text" placeholder="Your Full Name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-field wow fadeInLeft" data-wow-delay="0.4s">
                                    <select>
                                        <option value="1" selected disabled>Services Category</option>
                                        <option value="2">Service One</option>
                                        <option value="3">Service Two</option>
                                        <option value="4">Service Three</option>
                                        <option value="5">Service Four</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-field wow fadeInLeft" data-wow-delay="0.5s">
                                    <select>
                                        <option value="1" selected disabled>Choose Doctors</option>
                                        <option value="2">Doctor One</option>
                                        <option value="3">Doctor Two</option>
                                        <option value="4">Doctor Three</option>
                                        <option value="5">Doctor Four</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-field wow fadeInLeft" data-wow-delay="0.6s">
                                    <input type="date">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-field wow fadeInLeft" data-wow-delay="0.7s">
                                    <button type="submit" class="template-btn">
                                        Make an Appointment <i class="far fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="appointment-image" style="background-image: url(assets/img/appointment/07.jpg);">
                </div>
            </div>
        </div>
    </section>
    <!--  Appointment Section End  -->


    






    <!--  Back to Top Start  -->
    <a class="back-to-top" href="#">
        <i class="far fa-angle-up"></i>
    </a>
    <!--  Back to Top End  -->