
<div class="container-fluid" >
    <div class="row">
        <br><br><br>
        <div class="col-lg-6 col-sm-12" >
            <img src="assets/img/doctors/img-9.jpeg" style="width:100%;height: 500px;margin-top: 200px;" alt="">
        </div>
        <div class="col-lg-6 col-sm-12 text-center" style="margin: auto;">
            <h2 class="text-info mt-5">HEALTH AUDIOS</h2>
            <p class="text-info">Professional Opinions can change your perspective on a Healthy Lifestyle!</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-sm-12 g-4 mt-3">
            <div class="card" style="width:550px">
                <div class="card-header">When you eat something loaded with sugar,your body isn't happy!</div>

                <div class="card-footer"><iframe
                        allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0"
                        height="175" style="width:100%;max-width:660px;overflow:hidden;background:transparent;"
                        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
                        src="https://embed.podcasts.apple.com/us/podcast/how-sugar-affects-the-brain-nicole-avena/id470623173?i=1000575530324"></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12 g-3 mt-3">
            <div class="card" style="width:550px">
                <div class="card-header">How Bovine Leukemia Virus can be a Cause of Breast Cancer.</div>
              
                <div class="card-footer"> <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/us/podcast/the-link-between-bovine-leukemia-and-breast-cancer/id1183093544?i=1000571422811"></iframe>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-12 g-3 mt-3">
                <div class="card" style="width:550px">
                    <div class="card-header">Give your heart and head a holiday!</div>
                   
                    <div class="card-footer"><iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/us/podcast/sabbatical/id1277683423?i=1000566603473"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 g-3 mt-3">
                <div class="card" style="width:550px">
                    <div class="card-header">Can you REALLY boost your metabolism?</div>
                  
                    <div class="card-footer"> <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/us/podcast/body-stuff-with-dr-jen-gunter/id470623173?i=1000562723644"></iframe>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-12 g-3 mt-3">
                    <div class="card" style="width:550px">
                        <div class="card-header">No matter what people around you do or eat,you decide for yourself!</div>
                      
                        <div class="card-footer">  <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/us/podcast/its-impossible-to-have-healthy-people-on-a-sick/id470623173?i=1000551841917"></iframe>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-6 col-sm-12  g-3 mt-3">
                    <div class="card" style="width:550px">
                        <div class="card-header">How onions are beneficial for Testosterone, Osteoporosis, Allergies? </div>
                  
                        <div class="card-footer"> <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/us/podcast/the-link-between-bovine-leukemia-and-breast-cancer/id1183093544?i=1000571422811"></iframe>
                        </div>
                    </div>
                </div>
    </div>
</div>


   